[submodule "ext/librsync"]
	path = ext/librsync
	url = https://github.com/librsync/librsync.git
[submodule "ext/librsync/repo"]
	path = ext/librsync/repo
	url = https://github.com/librsync/librsync.git
